<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/logo.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <title>Welcome to IrisDataWeb</title>
</head>
<body>
    <img class="plano-de-fundo" src="{{ url_for('static', filename='images/Irishome.jpg') }}">

    <div class="container">
        <header>
            <h2 class="title-page">Welcome to IrisDataWeb</h2>
        </header>
        <div id="logo-homer">
            <img id="logo" src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo do IrisDataWeb">
        </div>
        <div class="text">
            <p>Este projeto, intitulado IrisDataWeb, foi criado com o objetivo de explorar e aplicar meus conhecimentos em machine learning 
                integrados a uma interface web. 
                A ideia principal foi desenvolver uma aplicação 
                prática que utiliza modelos de aprendizado de máquina, como o famoso dataset Iris,
                para oferecer previsões de maneira interativa e acessível através de um ambiente online.</p>
        </div>
        <div class="gatways">
            <div class="main">
                <a href="{{ url_for('app.program') }}" class="button">Enter</a>
               
            </div>
        </div>
    </div>
</body>
</html>
