<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <title>IrisDataWeb - Inputs</title>
</head>
<body>
    <div class="container-inputs">
        <div id="header-inputs">
            <h3>IrisDataWeb</h3>
            <p></p>
        </div>
        
        <form method="POST" action="{{ url_for('program.predict') }}">
            <div class="input">
                <label for="comprimentoSepala">Comprimento da sépala (em centímetros):</label>
                <input type="number" id="comprimentoSepala" name="a" step="0.1" placeholder="Digite o comprimento da sépala">
            </div>
        
            <div class="input">
                <label for="larguraSepala">Largura da sépala (em centímetros):</label>
                <input type="number" id="larguraSepala" name="b" step="0.1" placeholder="Digite a largura da sépala">
            </div>
        
            <div class="input">
                <label for="comprimentoPetala">Comprimento da pétala (em centímetros):</label>
                <input type="number" id="comprimentoPetala" name="c" step="0.1" placeholder="Digite o comprimento da pétala">
            </div>

            <div class="input">
                <label for="larguraPetala">Largura da pétala (em centímetros):</label>
                <input type="number" id="larguraPetala" name="d" step="0.1" placeholder="Digite a largura da pétala">
            </div>

            <input type="submit" value="Prever">
        </form>
        
        <div class="output">
            <h1>PREVISÃO:</h1>
            
            {% if data is not none %}
                {% if data == 0 %}
                    <h2>Iris-setosa</h2>
                    <img src="{{ url_for('static', filename='setosa.jpg') }}" alt="Iris-setosa">
                
                {% elif data == 1 %}
                    <h2>Iris-versicolor</h2>
                    <img src="{{ url_for('static', filename='versicolor.jpg') }}" alt="Iris-versicolor">
                    
                {% elif data == 2 %}
                    <h2>Iris-virginica</h2>
                    <img src="{{ url_for('static', filename='virginica.jpg') }}" alt="Iris-virginica">
                {% endif %}
            {% endif %}
        </div>
    </div>
</body>
</html>
